.authen-template {
  min-height: 80vh;

  .register-link {
    margin-top: 10px; /* Khoảng cách trên liên kết đăng nhập */
    display: flex;
    justify-content: center; /* Căn giữa */
    span {
      color: #1890ff;
      font-weight: bold;
      text-decoration: none; /* Không gạch chân mặc định */

      &:hover {
        text-decoration: underline; /* Hiệu ứng gạch chân khi hover */
      }
    }
  }
}
