.layout-panel {
  display: flex; /* Sử dụng flexbox để sắp xếp các phần tử */
  height: 100vh; /* Chiều cao đầy đủ của viewport */

  .outlet-container {
    flex-grow: 1; /* Chiếm không gian còn lại */
    padding: 20px; /* Padding cho nội dung */
    background-color: #ffffff; /* Màu nền cho phần nội dung */
    
  }
}
