.authen-template {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/swp391-7123d.appspot.com/o/Carousel%2Fcarousel1.jpg?alt=media&token=a16ce3ff-b5df-4b6f-931a-92101d59f123');

    display: flex;
    align-items: center;
    justify-content: center;
}

.authen-template__form {
    width: 500px;
    height: 850px;
    background-color: #fff;
    border-radius: 12px;
    padding: 60px;
}

.authen-template__form h1 {
    display: flex;
    justify-content: center;
   padding-bottom: 30px ;
}

/* flex box */

/* src/components/Login.css */
.authen-template__form {
    width: 500px;
    height: 800px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    padding: 30px;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}

.authen-template__form button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.google-button {
    display: flex;
    justify-content: center; /* Căn giữa nút Google */
    width: 100%;
}

.google-btn {
    width: 100%; /* Đảm bảo nút Google đầy đủ chiều rộng */
    background-color: #f48942; /* Màu nền của nút Google */
    color: white; /* Màu chữ trắng */
    border: none; /* Không viền */
}

.google-btn:hover {
    background-color: green; /* Màu khi hover */
}
