.layout-panel {
  display: flex; /* Sử dụng flexbox để bố trí các phần tử bên cạnh nhau */
  height: 100vh; /* Chiều cao toàn bộ viewport */
  flex-direction: column;
}

.sidebar {
  width: 250px; /* Đặt chiều rộng cho sidebar */
  background-color: #f4f4f4; /* Màu nền cho sidebar */
}

.outlet-container {
  flex: 1; /* Để outlet chiếm không gian còn lại */
  padding: 20px; /* Khoảng cách bên trong cho outlet */
  background-color: cyan; /* Màu nền cho outlet */
  overflow: auto; /* Đảm bảo nội dung không bị chồng chéo */
}
