.home-page {
  .carousel-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .carousel-image:hover {
    transform: scale(1.05);
  }

  .introduction-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 120px;
    background-color: #fff;

    .intro-image {
      position: relative;
      flex: 1;
      padding-right: 40px;

      &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: #cb9966;
        border-radius: 5px;
      }

      img {
        width: 100%;
        max-width: 400px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    .intro-text {
      flex: 2;
      padding-left: 40px;

      h2 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        color: #333;
      }
    }
  }

  .services {
    text-align: center;
    padding: 60px 20px;
    background-color: #f3f0eb;

    h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    .services-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .service-item {
        flex: 0 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
        text-align: center;
        margin-bottom: 20px;

        img {
          width: 75%;
          height: 85%;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease-in-out;
        }

        img:hover {
          transform: scale(1.05);
        }

        p {
          margin-top: 10px;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }

  .partners-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;

    img {
      max-width: 500px;
      width: 100%;
      height: auto;
    }

    .partners-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      align-items: center;
      margin-top: 15px;

      img {
        max-width: 150px;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
        margin: auto;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  // banner
  .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;

    h3 {
      font-size: 28px; /* Tăng kích thước chữ */
      font-weight: normal;
      letter-spacing: 2px;
      color: #333;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    h1 {
      font-size: 60px; /* Tăng kích thước chữ */
      font-weight: bold;
      letter-spacing: 4px;
      color: #000;
    }

    .banner-image {
      margin-bottom: 30px;

      img {
        width: 100%;
        max-width: 1300px; /* Điều chỉnh max-width lên 1300px */
        height: auto;
        object-fit: cover;
        border-radius: 10px;
      }
    }

    .booking-button {
      background-color: #c58246;
      color: #fff;
      font-size: 22px; /* Tăng kích thước chữ */
      font-weight: bold;
      padding: 20px 50px; /* Tăng kích thước button */
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#c58246, 10%);
      }
    }
  }
}
