.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 0 20px;
  background-color: #f5f5f5;

  /* Header phần Về Kim Hair Salon */
  .about-us-header {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #c58246;
    padding: 10px 20px;
    text-align: left;

    h3 {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      color: white;
      text-transform: uppercase;
    }
  }

  .about-us-content {
    max-width: 1500px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    .about-us-text {
      flex: 1;
      padding-right: 30px;

      h1 {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #000;
        text-align: left;
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        color: #333;
      }
    }

    .about-us-image {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      margin-top: 0;

      img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        max-height: 600px;
      }
    }
  }

  .mission-vision-section {
    display: flex;
    max-width: 1500px;
    width: 100%;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;

    .mission-vision-image {
      flex: 1;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .mission-vision-text {
      flex: 1.5;
      padding-left: 30px;

      .mission,
      .vision {
        margin-bottom: 30px;
      }

      .mission {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: -15px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: #c58246;
        }
      }

      h2 {
        font-size: 32px;
        font-weight: bold;
        color: #000;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        line-height: 1.6;
        color: #333;
      }
    }
  }

  /* Giá Trị Cốt Lõi */
  .core-values-section {
    max-width: 1500px;
    width: 100%;
    margin: 50px auto;
    text-align: left;

    .section-title {
      font-size: 40px;
      font-weight: bold;
      color: #000;
      margin-bottom: 40px;
      text-transform: uppercase;
      border-top: 3px solid #c58246;
      padding-top: 30px;
      text-align: center;
    }

    .core-values-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .core-values-image {
        flex: 1;
        margin-right: 50px;

        img {
          max-width: 130%;
          height: auto;
          object-fit: cover;
          border-radius: 5px;
        }
      }

      .core-values-text {
        flex: 1.5;
        display: flex;
        margin-left: 180px;
        flex-direction: column;
        justify-content: flex-start;

        .core-value-item {
          margin-bottom: 20px;

          h3 {
            font-size: 24px;
            font-weight: bold;
            color: #000;
            margin-bottom: 5px;
          }

          p {
            font-size: 16px;
            line-height: 1.6;
            color: #333;
          }
        }
      }
    }
  }

  /* Phần Người Sáng Lập */
  .founder-section {
    margin-top: 50px;
    max-width: 1500px;
    width: 100%;
    margin: 50px auto;

    .founder-header {
      background-color: #c58246;
      padding: 10px 20px;
      h3 {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        color: white;
        text-transform: uppercase;
      }
    }

    .founder-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
    }

    .founder-image {
      flex: 1;
      padding-right: 50px;
      text-align: center;

      img {
        width: 100%;
        max-width: 400px;
        border-radius: 5px;
      }

      .quote {
        font-style: italic;
        margin-top: 10px;
        text-align: center;
        color: #666;
        margin-top: 20px;
      }
    }

    .founder-info {
      flex: 1.5;
      padding-left: 50px;

      h1 {
        font-size: 36px;
        font-weight: bold;
        color: #333;
      }

      p {
        font-size: 18px;
        line-height: 1.8;
        color: #333;
        margin-bottom: 30px;
      }

      .milestone-item {
        margin-bottom: 20px;

        h3 {
          font-size: 20px;
          font-weight: bold;
          color: #c58246;
          margin-bottom: 10px;
          position: relative;
          display: inline-block;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px; /* Khoảng cách từ chữ đến gạch dưới */
            width: 100%;
            height: 2px; /* Độ dày của gạch dưới */
            background-color: #c58246; /* Màu gạch dưới */
          }
        }

        p {
          font-size: 16px;
          color: #555;
          line-height: 1.6;
        }
      }
    }
  }
}

/* Phần Hair Stylist Tại Kim Hair Salon */
.hairstylist-section {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #f3f0eb;
  text-align: left;

  .hairstylist-header {
    background-color: #c58246;
    padding: 10px 20px;
    text-align: left;
    margin-bottom: 20px;

    h3 {
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
