.authen-template {
  .submit-button,
  .login-link {
    display: flex;
    justify-content: center; /* Căn giữa */
  }

  .submit-button {
    margin-bottom: 20px; /* Khoảng cách dưới nút */

    button {
      background-color: #c58246; /* Bắt buộc sử dụng màu này */
      border: none;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #a8703b; /* Màu khi hover */
      }
    }
  }

  .login-link {
    margin-top: 10px; /* Khoảng cách trên liên kết đăng nhập */

    a {
      color: #1890ff;
      font-weight: bold;
      text-decoration: none; /* Không gạch chân mặc định */

      &:hover {
        text-decoration: underline; /* Hiệu ứng gạch chân khi hover */
      }
    }
  }
}
