
  .card {
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    padding: 20px; // Thêm padding để nội dung không bị dính vào viền
    // display: flex;
    // align-items: center; // Canh giữa nội dung theo chiều dọc
    // justify-content: center; // Canh giữa nội dung theo chiều ngang
    // max-width: 95%; // Giới hạn tối đa chiều rộng nếu cần
    margin: auto; // Canh giữa thẻ card trong layout
  }
  