$primary-color: #f3f0eb;
$secondary-color: #343a40;
$text-color: #000000;

.admin-layout {
  height: 100vh;

  .sider {
    background-color: $primary-color;
    .ant-menu-dark {
      background-color: $primary-color;
    }
  }

  .header {
    background-color: $primary-color;
    padding: 0;
    color: $text-color;
  }

  .content {
    margin: 0 16px;
    background-color: $primary-color;
    padding: 24px;
    border-radius: 8px;
  }

  .breadcrumb {
    margin: 16px 0;
    font-size: 16px;
    color: $text-color;
  }
}

/* From Uiverse.io by Nawsome */ 
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes counter-clockwise {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

